.Summer {
  background-color: #B91372 !important;
}

.Operations {
  background-color: #4E0250 !important;
}

.SLT {
  background-color: #BC8034 !important;
}

.Marketing {
  background-color: #B8D5B8 !important;
}

.Programmes {
  background-color: #DC602E !important;
}

.Transformation {
  background-color: #05A8AA !important;
}

.footer {
  width:100%;
  padding-top: 20px;
  display: inline;
}

.departments {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:80%;
}

.buttons {
  width:20%;
  display: inline;
}

.department {
  flex: 1;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-family: sans-serif;
  font-size: 12px;
}

.department-slt {
  border-top: 4px solid #BC8034;
}

.department-transformation {
  border-top: 4px solid #05A8AA;
}

.department-operations {
  border-top: 4px solid #4E0250;
}

.department-programmes {
  border-top: 4px solid #DC602E;
}

.department-marketing {
  border-top: 4px solid #B8D5B8;
}

.department-summer {
  border-top: 4px solid #B91372;
}
