.Summer {
  background-color: #B91372 !important;
}

.Operations {
  background-color: #4E0250 !important;
}

.SLT {
  background-color: #BC8034 !important;
}

.Marketing {
  background-color: #B8D5B8 !important;
}

.Programmes {
  background-color: #DC602E !important;
}

.Transformation {
  background-color: #05A8AA !important;
}
