html, body {
  background-color: #FFFFFF;
}

.Summer {
  background-color: #E15897 !important;
}

.Operations {
  background-color: #EE9763 !important;
}

.SLT {
  background-color: #E96771 !important;
}

.Marketing {
  background-color: #B895C4 !important;
}

.Programmes {
  background-color: #FFC943 !important;
}

.Transformation {
  background-color: #359FAD !important;
}

.footer {
  width:100%;
  padding-top: 20px;
  display: inline;
}

.departments {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:100%;
  background-color: white;
}

.buttons {
  width:100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button {
  text-align: center;
  margin: 10px;
}

.department {
  flex: 1;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-family: sans-serif;
  font-size: 12px;
  border:1px solid lightgray;
  border-top: 4px solid #3AB6E3;
}

.department-slt {
  border-top: 4px solid #BC8034;
}

a { 
  color: #111672;
}

.department-transformation {
  border-top: 4px solid #05A8AA;
}

.department-operations {
  border-top: 4px solid #4E0250;
}

.department-programmes {
  border-top: 4px solid #DC602E;
}

.department-marketing {
  border-top: 4px solid #B8D5B8;
}

.department-summer {
  border-top: 4px solid #B91372;
}
