.Summer {
  background-color: #B91372 !important;
}

.Operations {
  background-color: #4E0250 !important;
}

.SLT {
  background-color: #BC8034 !important;
}

.Marketing {
  background-color: #B8D5B8 !important;
}

.Programmes {
  background-color: #DC602E !important;
}

.Transformation {
  background-color: #05A8AA !important;
}

.footer {
  width:100%;
  padding-top: 20px;
  border:2px solid black;
  display: inline-flex;
}

.department {
  width: 200px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.slt {
  border: 4px solid #BC8034;
}

.transformation-footer {
  border: 4px solid #05A8AA;
}

.operations-footer {
  border: 4px solid #4E0250;
}

.programmes-footer {
  border: 4px solid #DC602E;
}

.marketing-footer {
  border: 4px solid #B8D5B8;
}

.summer-footer {
  border: 4px solid #B91372;
}
