.Transformation {
  background-color: #13315C !important;
}

.Operations {
  background-color: #4E0250 !important;
}

.SLT {
  background-color: #BC8034 !important;
}

.Marketing {
  background-color: #107E7D !important;
}

.Programmes {
  background-color: #DC602E !important;
}
